<style>
    .panel{
        margin:10px;
        padding: 15px;
        background-color: #1a1936;
        border-radius: 20px;
        box-shadow: rgba(179, 136, 220, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.97) 0px 30px 60px -30px, rgba(117, 38, 160, 0.35) 0px -2px 6px 0px inset;
    }
    .font{
        color: white;
        font-size: 20px;

    }
</style>
<div>
{%  for room in rooms %}
        <div class="panel">
            {% if request.user == room.host %}
                <a style="color:pink" href = "{% url 'update-room' room.id %}">Edit</a>
                <a style="color:pink"href = "{% url 'delete-room' room.id %}">Delete</a>
            {% endif %}
            <a style="color:cornflowerblue" href = "{%  url 'user-profile' room.host.id %}">
                <h3>@{{ room.host.username }}</h3></a>
            <h5> <a href="/room/{{ room.id }}">
                <div class="font">
                    Room Name: {{ room.name }}
                </div></a></h5>
            <small>{{ room.topic.name }}</small>
        </div>
{%  endfor %}
</div>