{%  extends 'main.html' %}
{%  load static %}

{%  block content  %}

    <style>

    .home-container{
        display:grid;
        grid-template-columns: 1fr 1fr 3fr 1fr;
    }
    .grid-panel{
        margin:20px;
    }
    </style>

<div class="home-container">
    <div class="grid-panel">
        <h2> Browse Topics</h2>
        <hr>
        <h4>{{ room_count }} rooms available</h4>
        <a href = "{% url 'create-room'  %}">
            <h4 style="color:darkseagreen">Create Room</h4></a>
        {%  include 'MovieRecommender/topic_component.html' %}
    </div>

    <div class="grid-panel"><h2> Discussions :</h2>
        <br>
        <br>
        <br>
         {%  include 'MovieRecommender/feed_component.html' %}
    </div>

    <!--<a href="{%  url 'read-data' %}">READ DATA</a>-->

    <div class="grid-panel">
        <h2> Random Movies</h2>
        {%  include 'MovieRecommender/movies_component.html' %}
    </div>

    <div class="grid-panel">
         <h2> Recent activity</h2>
        {%  include 'MovieRecommender/activity_component.html' %}
    </div>

</div>

{% endblock content %}