<style>
    .movie-container{
        margin:20px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .movie-panel{
        margin: 15px;
        width:200px;
        height:350px;
    }

    @keyframes example {
      0%   {
          width: 200px;
          height: 300px;
      }
      100% {
          width: 220px;
          height: 320px;
          box-shadow: rgba(157, 129, 189, 0.86) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      }
    }

    .movie{
        width: 200px;
        height: 300px;
        border-radius: 20px;
        animation-duration: 1s;
    }
    .movie:hover{
        animation-name: example;
    }
</style>

<div class = "movie-container">
    {%  for movie in movies %}
        <div class = "movie-panel">
             <h3>{{ movie.title }}</h3>
                <a href="/movie={{ movie.id }}">
                      <div>
                          <img class="movie" src="{{movie.poster_path}}"/>
                      </div>
                </a>
        </div>
    {% endfor %}
</div>
