<style>
    .movie-container{
        margin:20px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .movie-panel{
        margin: 10px;
        width:200px;
        height:350px;
    }
    .movie-image{
        border-radius: 40px;
    }
</style>

<div class = "movie-container">
    {%  for movie in movies %}
        <div class = "movie-panel">
             <h3>{{ movie.title }}</h3>
                <a href="/movie={{ movie.id }}">
                      <div class="movie-image">
                          <img width = "200" height ="300" src="{{movie.poster_path}}"/>
                      </div>
                </a>
        </div>
    {% endfor %}
</div>
