{%  extends 'main.html' %}
{%  load static %}

{% block content %}
<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

    .movie-container{
        margin:20px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .movie-panel{
        margin: 10px;
        width:200px;
        height:350px;
    }

</style>

    <img src="{%  static profile.picture_path  %}"/>
    <h1>{{ user.username }}</h1>
        <h1>Favourite movies</h1>
    <div class="movie-container">
         {% for movie in fav_movies %}
            <div class = "movie-panel">
                <h4>{{ movie.title }}</h4>
                <a href="/movie/{{ movie.id }}"><img width = "200" height ="300" src="{{movie.poster_path}}"/></a>
            </div>
        {% endfor %}
    </div>

    <div class = "profile-container">
        <div>
            {% include 'MovieRecommender/topic_component.html' %}
        </div>

        <div>
            {% include 'MovieRecommender/feed_component.html' %}
        </div>

        <div>
            {% include 'MovieRecommender/activity_component.html' %}
        </div>
    </div>


{% endblock content %}