<style>

body {
    background-image: linear-gradient(130deg, #0e2d44, #41428b, #111a3d, #4f51a7, #607597);
    font-family: 'Lato';
    color:white;
}

.btn {
    border: none;
    border-radius: 10px;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:before {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.btn-sep {
    border-radius: 10px;
  padding: 25px 60px 25px 120px;
}
.btn-sep:before {
  background: rgba(194, 42, 187, 0.6);
}
.btn-4 {
    border-radius: 10px;
  background: #634693;
  color: #fff;
}
.btn-4:hover {
  background: #7f5ab3;
}
.btn-4:active {
  background: #634693;
  top: 2px;
}
.btn-4:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}
.icon-send:before {
    border-radius: 10px;
  content: "\f1d8";
}

.string{
    color:white
}

.front-buttons{
    display: flex;
    flex-wrap: wrap;
}



</style>
<div>
    <a href="/" >
        <h1 class="string">
            <img src = 'https://see.fontimg.com/api/renderfont4/BWqOd/eyJyIjoiZnMiLCJoIjo0OSwidyI6MTAwMCwiZnMiOjQ5LCJmZ2MiOiIjQUM5MUNEIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/TW92aWUgUmVjb21tZW5kZXI/robus.png'/>
        </h1>
    </a>
</div>
<div>
    <form method ="GET" action = "{% url 'search' %}">
        <input type = "text" name ="q" placeholder="Search ..."/>
    </form>
</div>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <h1>You are logged as {{ request.user }}</h1>

    <div class = "front-buttons">
        {% if request.user.is_authenticated %}
        <div><a class="string" href = "{% url 'logout' %}">
         <button class="btn btn-4 btn-sep icon-send">Log out</button></a></div>
        {% else %}
         <div><a class="string" href = "{% url 'login' %}">
         <button class="btn btn-4 btn-sep icon-send">Login</button></a></div>
        {% endif %}

        <div> <a class="string" href = "{% url 'user-profile' request.user.id %}">
         <button class="btn btn-4 btn-sep icon-send">Profile</button></a> </div>

        <div>  <a class="string" href = "{% url 'rating-recommendation' %}?q=%">
         <button class="btn btn-4 btn-sep icon-send">Ratings Order</button></a> </div>

         <div>  <a class="string" href = "{% url 'collab_filtering'  %}">
         <button class="btn btn-4 btn-sep icon-send">Colaborative filtering</button></a> </div>

         <div>  <a class="string" href = "{% url 'trending-movies'  %}">
         <button class="btn btn-4 btn-sep icon-send">Trending</button></a> </div>

    </div>

<hr>